<?xml version='1.0' encoding='windows-1252' ?>
<!DOCTYPE JboPackage SYSTEM "jbo_03_01.dtd">

<JboPackage
   Name="server"
   SeparateXMLFiles="true"
   PackageName="abc.oracle.apps.fnd.poplist.server" >
   <DesignTime>
      <Attr Name="_ejbPackage" Value="false" />
      <Attr Name="_version" Value="10.1.3.41.57" />
   </DesignTime>
   <Containee
      Name="InventoryOrgPopVO"
      FullName="abc.oracle.apps.fnd.poplist.server.InventoryOrgPopVO"
      ObjectType="ViewObject" >
   </Containee>
</JboPackage>
